*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}





.icono-inicio img{
    width: 200px;
    height: 200px;
    margin-left: auto;
    float: left;
}



.iconos-redes{
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: right;
    margin-top: 30px;
    margin-right: 50px;
    margin-bottom: 20px;
}



.menu{
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    text-decoration: none;
    list-style: none;
    justify-content: right;
}

@font-face {
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
    
}

.menu a{
    margin-right: 50px;
    text-decoration: none;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
    font-size: 25px;
}

@media only screen and (max-width: 768px){
    .menu{
        display: grid;
        grid-template-columns: 20vw;
        margin-right: 50px;
        font-size: 25px;
    }
}

@media only screen and (max-width: 320px){
    .menu{
        display: grid;
        grid-template-columns: 50vw;
        margin-top: 20px;
    }
    .iconos-redes{
        margin-top: 150px;
    }
}


.imagen-inicio{
    margin-top: 100px;
}


.imagen-inicio img{
    width: 100%; 
    margin: 0 auto;
    background-size: cover;
}




/* PRODUCTOS */


.productos-p p{
    float: left;
    font-size: 20px;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
    margin-left: 10px;
    margin-top: 30px;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: auto auto auto;
    margin-top: 100px;
    margin-left: 20px;
}


@media only screen and (max-width: 768px){
    .contenedor-productos{
        display: grid;
        grid-template-columns: 20vw;
        margin-right: 50px;
        font-size: 25px;
    }
    
}


@media only screen and (max-width: 320px){
    .contenedor-productos{
        display: grid;
        grid-template-columns: 100%;
    }
    
}


.boton{
    width: 300px;
    margin-left: 70px;
    border-radius: 10px;
}

.boton img{
    float:right;
    width: 80px;
    height: 80px;
}



/*blog*/

.imagen-blog img{
    width: 600px; 
    height: 400px;
    margin-top: 100px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: auto;
}

.imagen-blog h3{
    float: right;
    margin-right: 230px;
    margin-top: -400px;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: black;
}

@font-face {
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}

.imagen-blog p{
    float: right;
    margin-right: 50px;
    margin-top: -350px;
    text-align:justify;
    justify-content: right;
    margin-left: 700px;
    font-family: 'Display';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
}
@font-face {
    font-family: 'Display';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color:black;
}

.boton-leer{
    border-radius: 5px;
    padding: 5px;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
    font-size: 20px;
}

@font-face {
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}

.leermas{
    float: right;
    margin-right: 400px;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
    font-size: 20px;
}

@font-face {
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}



/*prensa*/


.texto-video-blog{
    margin-top: 100px;
    margin-left: 90px;
    margin-bottom: 50px;
}

.video-blog iframe{
    margin-left: 50px;
    margin-bottom: 0px;
    border-radius: 80px;
    width: 1000px;
    height: 500px;
    border-color: #696E5E;
    border-style:double ;
    border-width: 20px
}



/*contactos*/

.imagen-contacto img{
    width: 600px; 
    height: 300px;
    margin-top: 150px;
    margin-left: 50px;
    display: grid;
    grid-template-columns: auto;
}

.texto-imagen{
    margin-left: 50px;
    margin-right: 870px;
    font-size: 20px;
    margin-top: 10px;
    margin-bottom: 300px;
}


.titulo-msj{
    float: right;
    margin-top: -300px;
    margin-right: 300px;
    font-family: 'Display';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: black;
}

@font-face {
    font-family: 'Display';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}

.form{
    background-size: 100vw 100vh;
    margin-top: -280px;
}


.formulario{
    width: 800px;
    margin: 10px;
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20px;
    border-radius: 10px;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}

.formulario input{
    width: 100%;
    margin-bottom: 20px;
    padding: 10px;
    box-sizing: border-box;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}

.formulario-msj textarea{
    min-height: 150px;
    max-height: 500px;
    max-width: 100%;
}

.enviar input{
    color: #696E5E;
    font-family: 'Roboto';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
}

.caja form{
    float:right;
}






























.pie-pagina{
    background-color: #696E5E;
    text-align:center;
    padding: 15px;
    color:white;
    font-family: 'Display';
    src: url(./tipografias/Playfair_Display/static/PlayfairDisplay-Bold.ttf);
    font-size: 18px;
    margin-top: 100px;
    border-bottom: none;
}

@font-face {
    font-family: 'Display';
    src: url(./tipografias/Roboto/Roboto-Regular.ttf);
    color: #696E5E;
}

@media only screen and (max-width: 768px){
    .pie-pagina{
        display: grid;
        grid-template-columns: 100%;
        font-size: 14px;
    }
}

@media only screen and (max-width: 320px){
    .pie-pagina{
        display: grid;
        grid-template-columns: 100%;
        font-size: 8px;
    }
    
}



